    <div class="container back pt-3 pb-3">
        <div class="text-center mt-5 mb-5">
          <h2>フォロワー</h2>
        </div>
        <% if @followers.present? %>
            <%= render 'users', users: @followers %>
        <% else %>
            <div class="text-center">
              <h5>まだフォロワーはいません</h5>
            </div>
        <% end %>
    </div>
